<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/minio/index.html">Minio for PCF (Beta)</a>
      </li>

      <li>
        <a href="/minio/architecture.html">Architecture Guide</a>
      </li>

      <li>
        <a href="/minio/operator-guide.html">Operator Guide</a>
      </li>

      <li>
        <a href="/minio/developer-guide.html">Developer Guide</a>
      </li>

      <li>
        <a href="/minio/release-notes.html">Release Notes</a>
      </li>
      
    </ul>
  </div>
</div><!--end of sub-nav-->
