---
title: Minio for PCF (Amazon S3 Compatible)
owner: Partners
---

This documentation describes Minio for Pivotal Cloud Foundry (PCF). Minio is an open source object storage server with an Amazon S3-compatible API.

## <a id='overview'></a>Overview

Minio provides Multi-Cloud Object Storage for PCF. Applications become portable by standardizing on the Amazon S3-compatible API, irrespective of the underlying cloud infrastructure.

Minio supports the following storage backends:

* Drives: Physical or virtual drives are exported as object storage volumes. Data is protected against VM and drive failures by erasure-code and bit-rot detection techniques.

* Azure Blob Storage: Minio adds the Amazon S3 API to Azure Blob Storage. Objects are stored natively on Azure as blobs. This setup also works for existing blobs without the need for any migration.

* Google Cloud Storage: Minio adds the Amazon S3 API to the Google Cloud Storage service. Objects are stored natively on GCS. This setup also works for existing objects without the need for any migration.

## <a id='overview'></a>Key Features
Minio for PCF includes the following key features:

* Amazon S3 Compatible: Amazon S3 API is the de facto standard for object storage. Minio implements Amazon S3 v2/v4 API.
* Data Protection: Minio protects data against hardware failures using erasure code and bitrot detection. You may lose up to half the number of drives and still recover from it. Data protection code is accelerated using SIMD instructions on x64 and ARM CPUs.
* Highly Available: Minio server can tolerate up to (N/2)-1 node failures in a distributed setup. In addition, you can configure Minio server to continuously mirror data between Minio and any Amazon S3 compatible server.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Minio for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>1.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March 28, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>2018-03-19T19-22-06Z</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.12.x and v2.0.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (formerly known as Elastic Runtime) version(s)</td>
        <td>v1.12.x and 2.0.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>
\* As of PCF v2.0, <em>Elastic Runtime</em> is renamed <em>Pivotal Application Service (PAS)</em>. 

## <a id="feedback"></a>Support and License
For a commercial subscription, please contact pivotal@minio.io
