---
title: Minio for Pivotal Platform (Amazon S3-Compatible)
owner: Partners
---

This documentation describes Minio for Pivotal Platform. Minio is an open source object storage server with an Amazon S3-compatible API.

## <a id='overview'></a>Overview

Minio provides multi-cloud object storage for Pivotal Platform. Applications become portable by standardizing on the Amazon S3-compatible API, irrespective of the underlying cloud infrastructure.

Minio supports the following storage backends:

* Drives: Physical or virtual drives are exported as object storage volumes. Data is protected against VM and drive failures by erasure-code and bit-rot detection techniques.

* Azure Blob Storage: Minio adds the Amazon S3 API to Azure Blob Storage. Objects are stored natively on Azure as blobs. This setup also works for existing blobs without the need for any migration.

* Google Cloud Storage: Minio adds the Amazon S3 API to the Google Cloud Storage service. Objects are stored natively on GCS. This setup also works for existing objects without the need for any migration.

## <a id='overview'></a>Key Features
Minio for Pivotal Platform includes the following key features:

* **Amazon S3-compatible:** Amazon S3 API is the de facto standard for object storage. Minio implements Amazon S3 v2/v4 API.
* **Data protection:** Minio protects data against hardware failures using erasure code and bitrot detection. You may lose up to half the number of drives and still recover from it. Data protection code is accelerated using SIMD instructions on x64 and ARM CPUs.
* **Highly available:** Minio server can tolerate up to (N/2)-1 node failures in a distributed setup. In addition, you can configure Minio server to continuously mirror data between Minio and any Amazon S3-compatible server.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Minio for Pivotal Platform.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>1.0.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 12, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>2019-02-12T21-58-47Z</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.1.x, v2.2.x, v2.3.x, and v2.4.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.1.x, v2.2.x, v2.3.x, and v2.4.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>
 
<p class="note warning"><strong> WARNING:</strong>
Minio for Pivotal Platform v1.0.0
and earlier require a Ubuntu Trusty stemcell.
The end-of-life date for Ubuntu Trusty is April 2019.
If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>


## <a id="feedback"></a>Support and License
For a commercial subscription, please contact pivotal@minio.io
