---
Minio (Beta)
---

<p class="note warning">
<strong>WARNING! </strong>
The Minio for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes Minio for Pivotal Cloud Foundry (PCF). Minio is an open source object storage server with Amazon S3 compatible API.


## <a id='overview'></a>Overview

Minio provides Multi-Cloud Object Storage for Pivotal Cloud Foundry. Applications become portable by standardizing on the Amazon S3 compatible API, irrespective of the underlying cloud infrastructure.

Minio supports the following storage backends:

* Drives - Physical or virtual drives are exported as object storage volumes. Data is protected against VM and drive failures by erasure-code and bit-rot detection techniques.

* Azure Blob Storage - Minio adds Amazon S3 API to Azure Blob Storage. Objects are stored natively on Azure as blobs. This setup also works for existing blobs without the need for any migration.

* Google Cloud Storage - Minio adds Amazon S3 API to Google Cloud Storage service. Objects are stored natively on GCS. This setup also works for existing objects without the need for any migration.


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Minio for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>0.9.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 15, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>2017-10-27T18-59-02Z</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>FIXME</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>FIXME</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>


## <a id="feedback"></a>Support and License
For commercial subscription, please contact pivotal@minio.io
