---
title: Operator Guide
owner: Partners
---

This topic describes how to install and configure Minio for Pivotal Cloud Foundry (PCF).

##<a id='install'></a> Install Minio for PCF
<ol>
<li>Download the Minio Tile from Pivotal Network.</li>
<li>Navigate to the Ops Manager Installation Dashboard and click <strong>Import a Product</strong> to upload the tile.</li> 
<li>Under the <strong>Import a Product</strong> button, click <strong>+</strong> next to the version number of Minio. 
This adds the tile to your staging area.</li>
</ol>

##<a id='configure'></a> Configure Minio Tile

<ol>
<li>Click on the newly added <strong>Minio for PCF</strong> Tile.</li>
<li>Fill in the configuration.<br/>

<img src="images/configure.png">

  <ul>
  <li><strong>VM Type</strong>: Select the VM configuration of Minio instance.<br/>
  Minio itself is lightweight and can run on embedded systems as well as on multi-core servers. Hence the configuration of the VM will depend on the workload. A Virtual Machine with 4G of RAM and 2-cores should be good for most workloads.</li>
  <li><strong>Number of VMs per service instance</strong>: <br/>
  <strong>1</strong>: You can choose "1" if the VM's local disk is well protected (i.e if the virtual disks are on VMware, vSAN, or on Public clouds - Google Cloud Platform, Microsoft Azure, or Amazon Web Services)</li>
  <strong>4 to 16</strong>: You can choose 4-16 VMs to provide protection against disk and node failures. Minio uses erasure-coding and bit-rot detection techniques to provide protection from the disk and node failures. With erasure-code, usable space is half of total storage space (numberOfVMs*persistentDiskSize)/2. For example if you choose 6 VMs and 100G per VM, object storage space will be 300G. Minio uses half the storage space to store data and half the space to store parity information.
  <li><strong>Persistent Disk Size</strong>: Size of the persistent disk in a VM.</li>
  </ul>
</li>
<li>Click <strong>Save</strong>.</li>
<li>Return to the Ops Manager Installation Dashboard and click <strong>Apply changes</strong> to install the Minio Tile.</li>
</ol>
