---
title: Release Notes for Minio
owner: Partners
---

##<a id="1.0.2"></a> v1.0.2

**Release Date:** February 2, 2019

Features included in this release:

* Updated to Minio version 2019-02-12T21-58-47Z

##<a id="1.0.1"></a> v1.0.1

**Release Date:** December 14, 2018

Feature included in this release:

* Updated to Minio version 2018-12-06T01-27-43Z

##<a id="1.0.0"></a> v1.0.0

**Release Date:** March 28, 2018

Features included in this release:

* Updated to Minio version 2018-03-19T19-22-06Z

##<a id="0.9.5"></a> v0.9.5

**Release Date:** March 6, 2018

Features included in this release:

* Updated to Minio version 2018-02-09T22-40-05Z
* Support for rolling upgrades
* Support for changes in Tile plan
* Support for Minio instance upgrades to latest bosh release after Tile upgrade


##<a id="0.9.4"></a> v0.9.4

**Release Date:** November 27, 2017

Features included in this release:

* Initial Beta release
* Support for local disk, Azure Blob Storage, and Google Cloud Storage
* Derived from Minio Version 2017-11-22T19-55-46Z



