---
title: Release Notes for Minio
owner: Partners
---

##<a id="ver"></a> v0.9.2

**Beta Release Date:** November 15, 2017

This is the beta release. The release has support for local disk, Azure Blob Storage and Google Cloud Storage. This tile is derived from Minio Version 2017-10-27T18-59-02Z.
