---
title: Release Notes for Minio
owner: Partners
---

##<a id="ver"></a> v0.9.5

**Release Date:** March 6, 2018

Features included in this release:

* Updated to Minio version 2018-02-09T22-40-05Z
* Support for rolling upgrades
* Support for changes in Tile plan
* Support for Minio instance upgrades to latest bosh release after Tile upgrade


##<a id="ver"></a> v0.9.4

**Release Date:** November 27, 2017

Features included in this release:

* Initial Beta release
* Support for local disk, Azure Blob Storage, and Google Cloud Storage
* Derived from Minio Version 2017-11-22T19-55-46Z



