---
title: Release Notes for Minio
owner: Partners
---

##<a id="ver"></a> v0.9.4

**Release Date:** November 22, 2017

Features included in this release:

* Initial Beta release
* Support for local disk, Azure Blob Storage, and Google Cloud Storage
* Derived from Minio Version 2017-11-22T19-55-46Z

